<nav class="fixed bottom-0 left-0 right-0 bg-[#171717] shadow-md md:hidden z-50" style="background-color: #171717;">
  <div class="flex justify-around items-center h-16">
      <a href="/" class="flex flex-col items-center text-gray-600 hover:text-[#ff6b6b] transition-colors duration-200">
          <i class="fas fa-home text-2xl"></i>
      </a>

      <a href="/animes/api/search" class="flex flex-col items-center text-gray-600 hover:text-[#ff6b6b] transition-colors duration-200">
          <i class="fas fa-search text-2xl"></i>
      </a>

      <a href="/calendario" class="flex flex-col items-center text-gray-600 hover:text-[#ff6b6b] transition-colors duration-200">
          <i class="fas fa-calendar text-2xl"></i>
      </a>

      <a href="/profile" class="flex flex-col items-center text-gray-600 hover:text-[#ff6b6b] transition-colors duration-200">
          <i class="fas fa-user text-2xl"></i>
      </a>
  </div>
</nav>
